/* global */
body {
  background: #1a051e;
}
textarea,
select,
input,
button {
  outline: none;
}
h1,h2,h3,h4,h5{
  font-family: "Exo", sans-serif;
  color: #fff;
}
p{
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
/* menu */
header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 16;

  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
@media (max-width: 500px){
  header {
    position: static;
  }
}
header nav.navbar {
  padding: 1.7rem 1rem;
}
header nav.navbar a {
  color: #fff;
  font-family: "Exo", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.16rem;
}
header nav.navbar input {
  border: 0;
  border-radius: 1000rem;
  font-family: "Montserrat", sans-serif;
  text-indent: 0.5rem;
  font-size: 1rem;
  color: #000;
  opacity: 0.5;
  padding: 0.5rem;
}
header nav.navbar input:focus {
  opacity: 1;
  box-shadow: 0px 0px 20px white;
}
header nav.navbar button {
  border: 0;
  background: none;
  color: #fff;
}

@media (min-width: 1300px){
  .navbar-expand-custom {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
      flex-direction: row;
  }
  .navbar-expand-custom .navbar-nav .nav-link {
      padding-right: .5rem;
      padding-left: .5rem;
  }
  .navbar-expand-custom .navbar-collapse {
      display: flex!important;
  }
  .navbar-expand-custom .navbar-toggler {
      display: none;
  }
}

/* rodape */
footer {
  margin-top: 150px;
}
.redes-copy {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}
.redes-copy p {
  margin-top: 20px;
}
.redes-copy ul.termo {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  padding: 0;
}
.redes-copy ul.termo li {
  display: inline-block;
  list-style: none;
  margin-right: 30px;
}
.redes-copy ul.termo li a {
  color: #fff;
}
.redes-rodape {
  margin: 0;
  padding: 0;
}
.redes-rodape li {
  display: inline-block;
  list-style: none;
  margin-right: 30px;
}
.redes-rodape li a {
  display: block;
  width: 50px;
  height: 50px;
  background: url(img/redes.png);
  background-repeat: no-repeat;
}
.redes-rodape li.instagram a {
  background-position: -83px 0;
}
.redes-rodape li.youtube a {
  background-position: -167px 0;
  width: 71px;
}
.redes-rodape li.twitter a {
  background-position: -273px 0;
  width: 60px;
}

footer nav.navbar li {
  padding: 0;
}
footer .navbar-expand-md .navbar-nav .nav-link {
  padding: 0%;
  padding-right:3rem;
}
footer nav.navbar li a {
  color: #fff;
  font-family: "Exo", sans-serif;
  text-align: right;
  padding: 0;
  padding-left: 66px;
}
footer form {
  margin-top: 50px;
}
footer form ul li {
  display: inline-block;
  list-style: none;
  text-align: right;
}
footer form ul li.rotulo {
  color: #fff;
  font-family: "Exo", sans-serif;
  line-height: 1rem;
}
footer form ul li input {
  border: 0;
  border-bottom: 1px solid #fff;
  background: none;
  height: 1.1rem;
  line-height: 1.5rem;
  color: #fff;
  margin-left: 10px;
  width: 170px;
}
footer form ul li .btn {
  height: inherit;
  border-radius: 1000rem;
  color: #5c1269;
  background: #fff;
  border: 0;
  font-size: 0.8rem;
  padding: 10px 30px;
  width: 100px;
}
footer .apresenta {
  border-top: 1px solid #fff;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

footer .apresenta h3 {
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -80px;
  width: 160px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  background: #1a051e;
}

/* definição de botões */
.btn{
  border-radius: 1000rem;
  font-size: .8rem;
  padding: 10px 20px;
}
.btn.play{
  padding: 10px 20px 10px 40px;
  background-color: rgba(248, 249, 250, 0.25);
  border: 0;
  color: #fff;
  background-image: url(img/play-button.png);
  background-repeat: no-repeat;
  background-position: 15px 10px;

}

/* miniaturas de episódios nos sliders */
.cabeca-sliders {
  width: 100%;
  display: block;
  clear: both;
  height: 3rem;
  color: #fff;
  font-size: 3.1rem;
  line-height: 2rem;
  font-family: "Exo", sans-serif;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.cabeca-sliders .btn {
  background: #5f5062;
  font-family: "Montserrat", sans-serif;
  border: 0;
  border-radius: 1000rem;
  margin-left: 30px;
  font-size: 1rem;
}
@media (max-width: 415px) {
  .cabeca-sliders{
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}

@media (max-width: 415px) {
  .cabeca-sliders .btn {
    font-size: 0.7rem;
  }
}

.slick-slide, .epi-pro li {
  border-radius: 20px;
  overflow: hidden;
  margin-right: 20px;
}
.slick-slide h2,.epi-pro li h2 {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}
@media (max-width: 415px) {
  .slick-slide h2, .epi-pro li h2 {
    font-size: 0.9rem;
  }
}
.slick-slide h3, .epi-pro li h3 {
  font-family: "Exo", sans-serif;
  font-weight: 300;
  font-size: 0.7rem;
}
.slick-slide p, .epi-pro li p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  margin-top: 1.4rem;
}
@media (max-width: 415px) {
  .slick-slide p, .epi-pro li p {
    display: none;
  }
}
.slick-slide a, .epi-pro li a {
  position: relative;
  display: block;
}
.slick-slide .titulo-episodio, .epi-pro li .titulo-episodio {
  position: absolute;
  bottom: 0;
  color: #fff;
  z-index: 16;
  width: 100%;
  padding: 0 10% 5% 10%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.slick-slide .icone, .epi-pro li .icone {
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  background-size: 100%;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
}
@media (max-width: 1366px) {
  .slick-slide .icone, .epi-pro li .icone {
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
  }
}

@media (max-width: 500px) {
  .slick-slide .icone, .epi-pro li .icone{
    top: 30%;
  }
}

.slick-slide .icone.video, .epi-pro li .icone.video {
  background-image: url(img/play.png);
}

.slick-slide .icone.podcast, .epi-pro li .icone.podcast {
  background-image: url(img/podcast.png);
}


.epi-pro {padding: 0; margin: 0}
.epi-pro li{ padding: 0; margin: 0 0 30px 0;   }

/* thumb tipo notícia */


.slick-slide.tipo-noticia .titulo-episodio {
  padding: 0;
  bottom: auto;
  top: 0;
  background: none;
  color: #000;
}
.slick-slide.tipo-noticia .titulo-episodio h2 {
  font-size: 2.3rem;
  padding: 10% 10% 0 10%;
  color: #000;
}
.slick-slide.tipo-noticia .titulo-episodio p {
  padding: 0 10% 0 10%;
}

@media (max-width: 1366px) {
  .slick-slide.tipo-noticia .titulo-episodio h2 {
    font-size: 1.3rem;
  }
  .slick-slide.tipo-noticia .titulo-episodio p {
    color: #000;
  }
}

@media (max-width: 500px) {
  .slick-slide.tipo-noticia .titulo-episodio h2 {
    font-size: 0.9rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
  }
  .slick-slide.tipo-noticia .titulo-episodio p {
    display: none;
  }
}

.slick-slide.tipo-noticia .titulo-episodio .btn {
  background: #000;
  border: 0;
}

.slick-arrow {
  background: none;
  border: none;
  background: url(img/left.png) no-repeat;
  height: 3.7rem;
  text-indent: -1000rem;
  width: 2.4rem;
  position: absolute;
  top: 50%;
  margin-top: -2rem;
  left: 0;
  z-index: 1;
}
@media (max-width: 500px) {
  .slick-arrow {
    background-size: 100% 100%;
    width: 1.4rem;
    height: 2.7rem;
  }
}
.slick-arrow.slick-next {
  left: auto;
  right: 0;
  transform: rotate(180deg);
}

/* carrossel da home */
#carousel-home {
  height: 100vh;
  overflow: hidden;
}
@media (max-width: 500px) {
  #carousel-home {
    height: auto;
  }
}
.carousel-indicators {
  position: absolute;
  bottom: 0;
  height: 8rem;
  margin-left: 0;
  margin-right: 0;
}
@media (max-width: 1366px) {
  .carousel-indicators {
    height: 7rem;
  }
}

@media (max-width: 500px) {
  .carousel-indicators{
    height: auto;
    padding: 0;
    margin: 0;
    bottom: auto;
    top: 1rem;
    right: 0;
  }
}


#carousel-home .carousel-indicators li {
  width: auto;
  height: auto;
  text-indent: 0;
  background: none;
  color: #fff;
  margin: 0 21px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  opacity: 0.3;
}
@media (max-width: 500px) {
  #carousel-home .carousel-indicators li {
    width: 10px;
    height: 10px;
    overflow: hidden;
    border-radius: 20px;
    display: block;
    padding: 0;
    margin: 0;
  }
}

#carousel-home .carousel-indicators li.active {
  opacity: 1;
}
#carousel-home .carousel-indicators li::before {
  content: " ";
  width: 100%;
  height: 8px;
  display: block;
  background: #fff;
  border-radius: 1000rem;
  margin-bottom: 2rem;
}
@media (max-width: 1366px) {
  #carousel-home .carousel-indicators li::before {
    height: 5px;
    margin-bottom: 1rem;
  }
}

#carousel-home .titulo-episodio {
  position: absolute;
  margin-left: 1.2rem;
  bottom: 14rem;
}
@media (max-width: 1366px) {
  #carousel-home .titulo-episodio {
    bottom: 13rem;
  }
}

@media (max-width: 500px) {
  #carousel-home .titulo-episodio {
    bottom: 0;
  }
}


#carousel-home .titulo-episodio img {
  /* max-width: 250px; */
  margin-bottom: 3rem;
}

@media (max-width: 1366px) {
  #carousel-home .titulo-episodio img {
    max-width: 300px;
    margin-bottom: 3rem;
  }
}

#carousel-home h2 {
  width: 40rem;
  
  font-family: "Exo", sans-serif;
  font-weight: 700;
  font-size: 3.1rem;
}
#carousel-home h2 a{
  color: #fff;
}
@media (max-width: 1366px) {
  #carousel-home h2 {
    font-size: 2.1rem;
  }
}

@media (max-width: 500px) {
  #carousel-home h2 {
    font-size: 1.5rem;
    width: 100%;
    width: 90%;

  }
  #carousel-home .titulo-episodio img{
    width: 100px;
    margin-bottom: 1rem;
  }
}



/* populares na home */
.slick-slider {
  padding: 0;
  overflow: hidden;
}


/* pagina programas */
#carousel-programas .titulo-episodio{
  position: absolute;
  bottom: 10rem;
  margin: 0 7%;
  width: 600px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  
}
#carousel-programas .titulo-episodio p{
  font-size: 1.5rem
}
#carousel-programas .titulo-episodio h2{
  font-family: "Exo", sans-serif;
  font-size: 3rem;
}
.cabeca-sliders a span{
  color: #fff;
}
@media (max-width: 768px) {
  .cabeca-sliders a span{
    font-size: 2rem;
  }
}

.logo-programa {
  width: 400px;
  position: absolute;
  bottom: 40%;
  right: 10%;
}

/* episodios */
.mask{
  width: 100%;
  background: rgba(0, 0, 0, 0.6);;
  height: 400px;
  width: 100%;
  padding: 1%;
}

#carousel-programas.single .btn{
  margin: 1%;
}

#carousel-programas.single .titulo-episodio{
  margin: 0;
  bottom: 0;
  padding: 0;
  width: 100%;
}

#carousel-programas.single .titulo-episodio h2{
  font-size: 1.8rem;
}

#carousel-programas.single .titulo-episodio h3{
  font-family: "Exo", sans-serif;
  font-size: 1rem;
  padding-top: 1rem;
}

#carousel-programas.single .titulo-episodio p{
  font-size: .9rem;
  margin: 0;
}

#carousel-programas.single .btn-primary{
  background-color: rgba(248, 249, 250, .3);
  border:0;
  outline: none;
}

.episodio-relacionado a{
  color: #fff;
  margin-bottom: 30px;
  display: block;
  position: relative;
}

.episodio-relacionado img{
  border-radius: 20px;
}
.episodio-relacionado h2{
  font-size: 1rem;
  font-family: "Exo", sans-serif;
}
.episodio-relacionado h3{
  font-size: 1rem;
}
.episodio-relacionado p{
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
}

.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
}

.episodio-relacionado .icone{
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  background-size: 100%;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}
@media (max-width: 1366px) {
  .episodio-relacionado .icone {
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;

  }
}



.episodio-relacionado .icone.video {
  background-image: url(img/play.png);
}

.episodio-relacionado .icone.podcast {
  background-image: url(img/podcast.png);
}


/* episodio podcast */
.embed-podcast{
  margin-top: 2rem;
}

/* pagina sobre */
.pagina-sobre{
  margin-top: 150px;
}


/* pagina novidades */
.epi-pro.noticia a {
  color: #000;
}
.epi-pro.noticia .tipo-noticia .titulo-episodio {
  padding: 0;
  bottom: auto;
  top: 0;
  background: none;
  color: #000;
}
.epi-pro.noticia .tipo-noticia .titulo-episodio h2 {
  font-size: 1rem;
  padding: 10% 10% 0 10%;
  color: #000;
}
@media (max-width: 1366px) {
  .epi-pro.noticia .tipo-noticia .titulo-episodio h2 {
    font-size: 1rem;
  }
}
.epi-pro.noticia .tipo-noticia .titulo-episodio p {
  padding: 0 10% 0 10%;
  color: #000;
  font-size: 0.8rem;
}
.epi-pro.noticia .tipo-noticia .titulo-episodio .btn {
  background: #000;
  border: 0;
}

/* pagina contato */
#nf-form-title-2 h3{
  display:none;
}

.nf-form-fields-required{
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.nf-field-label{
  font-size: 0;
  position: relative;
}
.nf-field-label .ninja-forms-req-symbol{
  font-size: 1rem;
  position: absolute;
  left: 0;
  top:-1rem;
}

.nf-form-content {
  margin-top: 4rem;
  font-family: "Montserrat", sans-serif;
}

.nf-form-content .ninja-forms-field{
  background: none;
  border: 0;
  border-bottom: 1px solid #707070;
  color: #fff;
  margin-bottom: 30px;
}
#nf-field-7{
  background: #2c0434;
}
#nf-field-8{
  background: #fff;
  text-align: center;
  border: 0;
  color: #000;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 700;
}